<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengpeng.v4.mapper.balcklist.PpUserBlacklistMapper">
    
    <resultMap type="com.pengpeng.v4.pojo.balcklist.PpUserBlacklist" id="PpUserBlacklistResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="defriendUserId"    column="defriend_user_id"    />
        <result property="defriendHeadImage"    column="head_url"    />
        <result property="defriendNickName"    column="nickname"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPpUserBlacklistVo">
        select id, user_id, defriend_user_id, create_time, update_time from pp_user_blacklist
    </sql>

    <select id="selectPpUserBlackList" parameterType="com.pengpeng.v4.pojo.balcklist.PpUserBlacklist" resultMap="PpUserBlacklistResult">
        SELECT
        black.id,
        black.user_id,
        black.defriend_user_id,
        black.create_time,
        members.head_url,
        members.nickname
        FROM
        pp_user_blacklist black
        LEFT JOIN pp_member members ON black.defriend_user_id = members.id
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="defriendUserId != null "> and defriend_user_id = #{defriendUserId}</if>
        </where>
        ORDER BY black.create_time desc
    </select>
    
    <select id="selectPpUserBlacklistById" parameterType="Long" resultMap="PpUserBlacklistResult">
        <include refid="selectPpUserBlacklistVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPpUserBlacklist" parameterType="com.pengpeng.v4.pojo.balcklist.PpUserBlacklist">
        insert into pp_user_blacklist
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="defriendUserId != null ">defriend_user_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="defriendUserId != null ">#{defriendUserId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePpUserBlacklist" parameterType="com.pengpeng.v4.pojo.balcklist.PpUserBlacklist">
        update pp_user_blacklist
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="defriendUserId != null ">defriend_user_id = #{defriendUserId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePpUserBlacklistById" parameterType="Long">
        delete from pp_user_blacklist where id = #{id}
    </delete>

    <delete id="deletePpUserBlacklistByIds" parameterType="String">
        delete from pp_user_blacklist where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>