<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改用户提现记录')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-record-edit" th:object="${ppWithdrawRecord}">
            <input name="withdrawId" th:field="*{withdrawId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户id：</label>
                <div class="col-sm-8">
                    <input name="userId" th:field="*{userId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提现方式：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <select name="withdrawWay">
                            <option th:value="1">微信</option>
                            <option th:value="2">支付宝</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提现金额：</label>
                <div class="col-sm-8">
                    <input name="withdrawGold" th:field="*{withdrawGold}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提现账户：</label>
                <div class="col-sm-8">
                    <input name="withdrawAccount" th:field="*{withdrawAccount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提现状态(0:审核不通过 1:审核中 2:审核通过 3:已打款)：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <select name="withdrawStatus">
                            <option th:value="0">审核不通过</option>
                            <option th:value="1">审核中</option>
                            <option th:value="2">审核通过</option>
                            <option th:value="3">已打款</option>
                        </select>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提现时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="withdrawTime" th:value="${#dates.format(ppWithdrawRecord.withdrawTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">拒绝原因：</label>
                <div class="col-sm-8">
                    <input name="withdrawCause" th:field="*{withdrawCause}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "app/withdrawrecord";
        $("#form-record-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-record-edit').serialize());
            }
        }

        $("input[name='withdrawTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>